.page {
    &-enter {
        opacity: 0;

        &-active {
            transition: opacity var(--loading-duration);
        }
    }

    &-leave {
        &-to {
            opacity: 0;
        }

        &-active {
            transition: opacity var(--loading-duration);
        }
    }
}

.layout {
    &-enter {
        opacity: 0;

        &-active {
            transition: opacity var(--loading-duration);
        }
    }

    &-leave {
        &-to {
            opacity: 0;
        }

        &-active {
            transition: opacity var(--loading-duration);
        }
    }
}

.fade {
    &-enter {
        opacity: 0;

        &-active {
            transition: opacity 0.5s;
        }
    }

    &-leave {
        &-to {
            opacity: 0;
        }

        &-active {
            transition: opacity 0.5s;
        }
    }
}

.loading {
    &-enter {
        .loading-default {
            &__block {
                transform: translateX(100%);
            }
        }

        &-active {
            .loading-default {
                &__block {
                    transition: transform var(--loading-duration);
                }
            }

            transition-delay: var(--loading-duration);
        }
    }

    &-leave {
        &-to {
            .loading-default {
                &__block {
                    transform: translateX(-100%);
                }
            }
        }

        &-active {
            .loading-default {
                &__block {
                    transition: transform var(--loading-duration);
                }
            }

            transition-delay: var(--loading-duration);
        }
    }
}
